.container {
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;

    h1 {
        color: var(--black);
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 16px;
    }
}

.form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 16px;
}

.input {
    height: 40px;
    border: 0;
    background-color: var(--orange-300);
    border-radius: 8px;
    padding: 0 16px;
    color: var(--gray-100);
    border: 1px solid var(--gray-100);
}